<div class="swiper">

    <!-- Television -->
    <swiper [slidesPerView]="slidesPerView"
            [spaceBetween]="15"
            (swiper)="onSwiper($event)"
            (slideChange)="onSlideChange()"
            [pagination]="{ clickable: true }"
            [scrollbar]="swiperParams.scrollbar"
            [autoplay]="swiperParams.autoplay"
            [loop]="true">

        <ng-template swiperSlide *ngFor="let media of mediaArray">
            <img class="img-thumbnail" 
                 [src]="media.poster_path | poster:200" 
                 [alt]="media.name"
                 (click)="onTelevisionClick(media)"
                 *ngIf="mediaType === 'tv'">
            
            <img class="img-thumbnail" 
                 [src]="media.poster_path | poster:200" 
                 [alt]="media.title"
                 (click)="onMovieClick(media)"
                 *ngIf="mediaType === 'movie'">
            
            <h4 class="mt-2" *ngIf="mediaType === 'tv'">{{ media.name }}</h4>
            <h4 class="mt-2" *ngIf="mediaType === 'movie'">{{ media.title }}</h4>

        </ng-template>
        
    </swiper>

    <span class="button-prev" (click)="slidePrev()">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="button-next" (click)="slideNext()">
        <i class="fas fa-chevron-right"></i>
    </span>

</div>
