<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" routerLink="/home">
      <i class="fas fa-film"></i>
      Discover Movie
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2 pt-1">
        <li class="nav-item">
          <a class="nav-link" routerLink="/trending">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recommendations">Recommendations</a>
        </li>
      </ul>

      <div class="d-flex">
        <input #txtBuscar 
              class="form-control me-2" 
              type="search" 
              placeholder="Quick search" 
              aria-label="Search"
              (keyup.enter)="buscarPelicula(txtBuscar.value)">
        <button class="btn btn-outline-success" 
                type="submit"
                (click)="buscarPelicula(txtBuscar.value)">
                Search
        </button>
      </div>
      
    </div>
  </div>
</nav>