.navbar-brand {
    font-size: 24px;
    font-weight: 200;
    color: #bd4c5f !important;
}

.nav-link {
    color: #7B87B8 !important;
    transition: all 300ms;
}

.nav-link:hover {
    color: #bd4c5f !important;
}

