<div class="row justify-content-between">
    <div class="col-6 col-sm-4 col-md-3 text-center mt-2" *ngFor="let movie of movies">

        <div class="img-container">
            
            <div class="vote-container"> 
                <i class="fas fa-star"></i>
                <span class="vote-average">
                    {{ movie.vote_average | number:'1.1-2' }} / 10
                </span>
            </div>
          
            <div class="movie-detail">
                <span class="btn" (click)="onMovieClick(movie)">
                    View Details
                </span>
            </div>

            <div class="fav-container">
                <i class="fas fa-heart fa-2x"
                   [ngClass]="{ 'like': customMovieService.likesMoviesId.includes(movie.id)}"
                   (click)="toFavoritesMovies(movie)">
                </i>
            </div>

            <img [src]="movie.poster_path | poster"
                 class="img-fluid poster"
                 (click)="onMovieClick(movie)">

        </div>

        <div>
            <h4 class="movie-title">
                {{ movie.title }}
            </h4>
            <div class="year mb-2">
                {{ movie.release_date | date: 'yyyy' }}
            </div>
        </div>
        
    </div>
</div>