.img-container {
    position: relative;
    text-align: center;
}

.poster {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
}

.fav-container, .movie-detail, 
.vote-container {
    position: absolute;
    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.fas, .movie-detail, 
.vote-average, .vote-container,
.fav-container {
    color: whitesmoke;
    width: 100%;
}

.like{
    color: #e41b3c!important;
}

.vote-container {
    top: 10%;
}

.movie-detail {
    top: 40%;
    z-index: 99;
}

.movie-detail > span {
    width: 70%;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    margin: 0px auto;
}

.fav-container {
    bottom: 10%;
    z-index: 99;
}

.fa-heart {
    width: fit-content !important;
    margin: 0px auto;
}

.movie-title {
    font-size: 1rem;
    margin-bottom: .1rem;
}

.year {
    color: #7B87B8 !important;
    width: 100%;
}

@media (min-width: 480px) { 
    .movie-title {
        font-size: 1.25rem;
    }    
}

@media (min-width: 576px) { 

    .movie-title {
        font-size: 1rem;
    }   

    .img-container:hover .poster{
        opacity: .3 !important;
    }

    .img-container:hover .movie-detail {
        opacity: 1 !important;
        display: block;
    }

    .img-container:hover .movie-detail:hover {
        cursor: pointer;
    }

    .img-container:hover .vote-container{
        opacity: 1 !important;
        display: block;
    }

    .img-container:hover .fav-container{
        opacity: 1 !important;
        display: block;
    }

    .img-container:hover .fa-heart:hover{
        cursor: pointer;
        color: #e41b3c;
    }
}

@media (min-width: 992px) { 
    .fa-star, .vote-average {
        font-size: 18px;
    }

    .movie-detail {
        top: 42%;
    }
}
