<div class="swiper">
	<swiper [slidesPerView]="slidesPerView"
			[spaceBetween]="15"
			(swiper)="onSwiper($event)"
			(slideChange)="onSlideChange()"
			[pagination]="{ clickable: true }"
			[scrollbar]="swiperParams.scrollbar"
			[autoplay]="swiperParams.autoplay"
			[loop]="true">

		<ng-template swiperSlide *ngFor="let actor of cast">
			
			<img class="img-thumbnail" [src]="actor.profile_path | poster" [alt]="actor.name">
		
			<h4 class="mt-2">{{ actor.name }}</h4>

		</ng-template>
		
	</swiper>

	<span class="button-prev" (click)="slidePrev()">
		<i class="fas fa-chevron-left"></i>
	</span>
	<span class="button-next" (click)="slideNext()">
		<i class="fas fa-chevron-right"></i>
	</span>

</div>
  