<nav class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
		
		<a class="navbar-brand ms-1" routerLink="/home">
			<i class="fas fa-film"></i>
			Discover Movie
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/trending">Trending</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/favorites">Favorites</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/recommendations">Recommendations</a>
				</li>
				
				<hr class="list-divider">

				<li class="nav-item profile-list-item">
					<a class="nav-link" routerLink="/profile">My profile</a>
				</li>
				<li class="nav-item profile-list-item" *ngIf="!authService.userActive">
					<a class="nav-link text-info" routerLink="/login">
						Sign up | Login
					</a>
				</li>
				<li class="nav-item profile-list-item" *ngIf="authService.userActive">
					<a class="nav-link text-danger" (click)="logout()">
						Logout
					 </a>
				</li>
			</ul>

			<div class="d-flex">
				<input #txtBuscar class="form-control me-2" type="search" placeholder="Quick search" aria-label="Search"
					(keyup.enter)="buscarPelicula(txtBuscar.value)">
			</div>

			<hr class="list-divider">

			<!-- Dropdown Profile -->
			<div class="btn-group profile-dropdown">
				
				<span class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="rounded-circle" 
					  	 [src]="authService.userPhoto | profileImg"
						 [alt]="authService.userDisplayName" 
						 width="32">
				</span>
				
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item" routerLink="/profile">My profile</a></li>
					<li><a class="dropdown-item" routerLink="/favorites">Favorites</a></li>
					<li *ngIf="!authService.userActive">
						<a class="dropdown-item text-info" routerLink="/login">
							Sign up | Login
						</a>
					</li>
					<li *ngIf="authService.userActive">
						<a class="dropdown-item text-danger" (click)="logout()">
						   Logout
						</a>
					</li>
				</ul>

			</div>
			<!-- Dropdown Profile - End -->

		</div>

	</div>
</nav>