h2, form, p {
    width: 90%;
    margin: 0px auto;
}

.btn-container {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.btn {
    width: 40%;
    display: inline-block;
}

p {
    max-width: 626px;
}

fieldset {
    max-width: 465px;
    margin: 0px auto;
    text-align: center;
}

img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}


@media (min-width: 768px) {
    form {
        width: 600px;
    }

    .btn {
        width: 200px;
    }
}
